<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<!-- START_HIGHLIGHT -->
<body class='<%= controller.controller_name %>'>
	<div id="banner">
		<%= image_tag("logo.png")%>
		<%= @page_title || "Pragmatic Bookshelf" %>
	</div>
	<div id="columns">
		<div id="side">
			<ul>
				<li><%= link_to "Home", store_path %></li>
				<li><a href="http://www..../faq">Questions</a></li>
				<li><a href="http://www..../news">News</a></li>
				<li><a href="http://www..../contact">Contact</a></li>
			</ul>
			<div class="time">
				<%= Time.now.to_s(:db) %><br>
				Last visited: <%= cookies[:last_visited_str] %>
				<%= @time_diff %>
			</div>
			<div class="counter">
				<% if session[:counter] %>
					You have been here <%= pluralize(session[:counter], 'time')%>.
				<% else %>
					Please add to the cart!
				<% end %>
			</div>
		</div>
		<div id="main">
			<%= yield %>
		</div>
	</div>
</body>
</html>
